<div class="container">

    <p>Your Adoptions</p>
    <% unless @adoptions.nil?%>
        <% @adoptions.each do |adoption| %>
        <%= adoption.name %>
            <% end %>
        <% else %>
        <p>You haven't adopted a tree yet!</p>
    <% end %>
</div>